{erl_opts, [debug_info]}.
{deps, [
       {egd, {git, "https://github.com/erlang/egd.git", {tag, "0.10.0"}}},
       {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}},
	{trails, {git, "https://github.com/inaka/cowboy-trails"}},
	{swagger, {git, "https://github.com/inaka/cowboy_swagger"}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
        {sha3, {git, "https://github.com/b/sha3.git", {branch, "master"}}}
       ]
}.
{shell, [{apps, [regression_app]}]}.
{relx, [{release, {regression_app, "0.0.1"},
         [regression_app, egd, cowboy, trails, cowboy_swagger, jiffy]},

        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.
